<div class="modal-header">
    <h3 class="modal-title">{{'REMINDER__TITLE' | translate}}</h3>
    <i class="genericon genericon-close modal-close" ng-click="$dismiss()"></i>
</div>
<form name="restoreForm" novalidate>
    <div class="modal-body modal-body-content">

        <div class="modal-air">
            <div ng-hide="reqSent" class="ta-center">

                <div class="form-reminder_text_block form-reminder_text">
                    {{'REMINDER__NOTICE' | translate}}
                </div>

                <div class="form-group form-group__required" ng-class="{ 'has-error' :  restoreForm.restoreEmail.$invalid && restoreForm.restoreEmail.$dirty }">

                    <label class="control-label">
                        <i class="form-group_icon genericon genericon-mail"></i>
                        <input type="email" class="form-control" placeholder="{{'PUBLIC__EMAIL_PLACEHOLDER' | translate}}"
                               name='restoreEmail'
                               ng-model="modal.restoreEmail"
                               validate-email required />

                    </label>

                    <div class="form-group_message-error">
                        {{'REMINDER__INPUT_CORRECT_EMAIL' | translate}}
                    </div>

                </div>

                <button id="restore" class="btn-red"
                        ng-disabled="restoreForm.$invalid || modal.loading"
                        ng-click="modal.restorePassword()">
                    <span ng-hide="modal.loading">{{'REMINDER__SUBMIT' | translate}}</span>
                    <i class="fa fa-spin fa-spinner ng-animate-disabled" ng-show="modal.loading"></i>
                </button>

            </div>

        </div>

    </div>
</form>