body {
    padding:0;
    margin:0;
    background: #fff;
    font:14px/14px Tahoma;
    line-height:1.2;
}
.wrapper {
    width:100%;
    padding:0;
    margin:0;
}
.wrapper .box{
    width:400px;
    display:block;
    margin:0 auto;
    background: #fff;
    text-align:center;
    padding:20px;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.75);
}
.wrapper .box a{
    color:darkred;
    text-decoration: none;
}
.wrapper .box a:hover{
    color:red;
    text-decoration: underline;
}
.wrapper .box a:focus{
    outline:none;
}