    <!-- start Middle-->
    <div id="middle">
        <div class="b-top-title b-top-title-info">
            <div class="b-top-substrate_cnt b-top-substrate_cnt__x44 width600-info">
                <div class="b-title-m b-title-m__mar-bott">
                    Привет, призыватель!
                </div>
            </div>
        </div>
        <div class="b-gross-brd b-gross-brd-info">
            <div class="b-gross-brd_cnt b-gross-brd_cnt-info" ng-controller='ModalTemp'>
                <a class="btn-red btn-red-info vb-butn vb-butn-info __none-active" href="javascript:void(0)" ng-click="modal('md', 'connect-account.html')">Добавить мой аккаунт LoL</a>
                <a class="btn-red btn-red-info vb-butn vb-butn-info" href="#/referal">Пригласить друзей</a>
                <a class="btn-red btn-red-info vb-butn vb-butn-info ancLinks" href="javascript:void(0)">Поучаствовать в опросе</a>
                <h3 class="by-text">28 декабря откроется Новогодний турнир с призовым фондом $2016.<br/>Чтобы принять участие в данном турнире, тебе надо пройти три простых шага:</h3>
                <div class="row thx-div thx-div-info">
                    <ol class="thx-ul thx-ul-info">
                        <li><a href="javascript:void(0)" ng-click="modal('md', 'connect-account.html')">Добавить свой аккаунт в LoL</a></li>
                        <li><a href="#/tournaments">Вступить в турнир.</a></li>
                        <li><a href="#/starclient">Скачать StarClient</a> – приложение для ПК, которое позволяет тебе автоматически запускать турнирный матч и отправлять нам его результаты. Будет доступно для скачивания после 25 декабря. </li>
                    </ol>
                </div>
                <div class="bdy-back-rules bdy-back-rules-info bdy-back">
                    <h2 class="bdy-top-h2 bdy-top-h2-info">Что такое StarPoints?</h2>
                </div>
                <h2 class="bdy-top-h2 bdy-top-h2-info biggest-sp biggest-sp-info">SP</h2>
                <p class="what-text what-text-info">На твоем счету появилось 1000 StarPoints – это наша внутренняя валюта. Ровно такая сумма тебе потребуется для оплаты участия в нашем Новогоднем турнире. В дальнейшем на StarPoints можно будет участвовать в других турнирах и быстрых матчах, покупать премиум-аккаунты, игровые девайсы, скины персонажей и т.п.</p>
                <p class="what-text what-text-info">В Новогоднем турнире за StarPoints можно купить дополнительные фишки в турнир. Покупка дополнительных фишек будет доступна до 21.00 6 января 2016.</p>
                <p class="what-text what-text-info">Сейчас получить дополнительные StarPoints ты можешь только одним способом - приглашая своих друзей присоединиться к турниру. Почитать подробнее про нашу реферальную программу можно <a href="../../../sites/src/html/referal.html">здесь</a>.</p>
                <p class="what-text what-text-info">Приглашайте друзей, участвуйте в турнире, делайте ставки, получайте призы!</p>
                <div class="bdy-back-opros bdy-back-opros-info bdy-back">
                    <h2 class="bdy-top-h2 bdy-top-h2-info">Опрос</h2>
                </div>
                <h3 id="oprosform" class="opros-text opros-text-info">Новогодний турнир - это первый турнир, который мы проводим на GameStars.<br/>Перед началом игры, пожалуйста, заполни короткий опрос - это поможет нам сделать турнир еще лучше!</h3>

                <!-- Change the width and height values to suit you best -->
                <div class="typeform-widget" data-url="https://gs7.typeform.com/to/MCNvYn" data-text="Опрос НГ" style="width:100%;height:500px;"></div>
                <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
            </div>
        </div>
    </div>
    <!-- end Middle -->